Xiexe's Unity Shaders/Textures/Shadow Ramps/Generated/Personal
Xiexe's Unity Shaders/Textures/Shadow Ramps/Generated/Personal.meta

Xiexe's Unity Shaders/Main/XSToonCutout.shader
Xiexe's Unity Shaders/Main/XSToonCutoutOutlined.shader
Xiexe's Unity Shaders/Main/XSToonFade.shader
Xiexe's Unity Shaders/Main/XSToonFadeShadowed.shader
Xiexe's Unity Shaders/Main/XSToonTransparent.shader
Xiexe's Unity Shaders/Main/XSToonTransparentShadowed.shader
Xiexe's Unity Shaders/Main/XSToonTransparentDithered.shader

Xiexe's Unity Shaders/Main/XSToonCutout.shader.meta
Xiexe's Unity Shaders/Main/XSToonCutoutOutlined.shader.meta
Xiexe's Unity Shaders/Main/XSToonFade.shader.meta
Xiexe's Unity Shaders/Main/XSToonFadeShadowed.shader.meta
Xiexe's Unity Shaders/Main/XSToonTransparent.shader.meta
Xiexe's Unity Shaders/Main/XSToonTransparentShadowed.shader.meta
Xiexe's Unity Shaders/Main/XSToonTransparentDithered.shader.meta